/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-top: 2em;
	background: url(../image/background/gd-particulier-batiment.jpg)fixed center;
	background-size: cover;
}
.navbar {
	box-shadow: 5px 20px 25px black;
	height: 4em;
	background-color: #0E131C;
}
.fa-mobile {
	color: #3d72a0;
}

.fleche {
	margin-top: -39px;
	border-radius: 100%;
	width: 30%;
}
.fleche:hover,
.fleche:focus{
	margin-top: -39px;
	border: 1px solid black;
	box-shadow: 1px 5px 5px black;
	width: 30%;
}

.bg-gris {
  color: #fff;
  background-color: #37455b;
}
.nav {
	line-height: 3;
}
.btn {
	font-family: 'Expletus Sans', cursive;
	font-size: 16px;
	background-color: #37455b;
	color: white;
}
.btn:hover,
.btn:focus {
	box-shadow: 3px 15px 25px black;
	color: #000;
}
.btn a {
	color: white;
}

.btn-info {
	color: white;
	background-color: #33b7f4;
}
.recherche {
	color: #000;
	margin-right: 2em;
	line-height: 1.5;
}
.border {
	border-radius: 10px;
}
.border li button:hover,
.border li button:focus {
	border: 1px solid lightgrey;
}
.titre-1 {
	font-family: 'Cormorant', serif;
	font-size: 40px;
	font-weight: bold;
	margin-top: 7%;
	box-shadow: 10px 10px 10px black;
}
.logo {
	margin-left: 24px;
}
.marge-top {
	margin-top: 2em;
}

