/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/
footer {
	font-family: 'Expletus Sans', cursive;
	font-size: 20px;
	text-shadow: 10px 10px 5px black;
	margin: 0;
	padding: 0;
}

[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}
