/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-top: 7em;
	background: url(../image/background/ep_naturalblack.png);
}
[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}

.body {
	margin-top: 5em;
}
.présentation {
	font-family: 'Cormorant', serif;
	font-size: 20px;
	color: white;
	padding-top: 2%;
	margin-top: 10%;
}

