/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/
footer {
	font-family: 'Expletus Sans', cursive;
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-top: 7em;
}
/*[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}*/
