/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/

.body {
	margin-top: 2em;
}
.border-connexion {
	border: 2px solid white;
}
.marge-top {
	margin-top: 8em;
	background: url(../image/background/ep_naturalblack.png);
	border-radius: 10px; 
}
.marge-top2 {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Cormorant', serif;
	box-shadow: 5px 15px 25px black; 
	margin-top: 5%;
}
.text-white {
	color: #fff;
}
.text-black {
	color: #000;
}
.marge-interieure {
	padding: 5% 2% 5% 2%;
}
.form-control:focus{
	border-color: red;
}
/*.form-control:focus{

}*/
.border button:hover,
.border button:focus{
	box-shadow: 3px 15px 25px black;
	color: white;
	border: 1px solid lightgrey;
}	
.form-check {
	
}
.loading img{
	width: 20%;
	height: 20%;
}
/*[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}*/