/* police 

font-family: 'Cormorant', serif;

font-family: 'Expletus Sans', cursive;

*/

.body {
	margin-top: 2em;
}
.marge-top {
	margin-top: 10em;
	background: url(../image/background/ep_naturalblack.png);
	border-radius: 10px; 
}
.text-white {
	color: #fff;
}
.text-black {
	color: #000;
}
.marge-interieure {
	padding: 5% 2% 5% 2%;
}
.form-control:focus{
	border-color: red;
}
.border button:hover,
.border button:focus{
	box-shadow: 3px 15px 25px black;
	color: white;
	border: 1px solid lightgrey;
}	
.form-check {
	
}
/*[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}*/